<!-- Order Sheet -->
<div class="container">
    <div class="box" id="buy">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <hr>
            <h3 class="intro-text text-center">Buy
                <strong>DDALGi Chunk</strong>
                Complete
            </h3>
            <hr>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12" align="center">
            <h3>선택하신 상품의 <span>주문<span>이 완료되었습니다.</h3><br>
            <h4>입금하실 계좌는 <strong>신한은행 110-209-493870 이정석</strong>입니다.</h4>
            <h4>배송 예정일은 <strong><%=@confirm.delivery_date %></strong>입니다. </h4>
            <div class="space"></div>
            
            <table class="ci" width="80%">
                <tr>
                    <td class="left">주문번호</td>
                    <td class="right"><%= @confirm.order_index %></td>
                </tr>
                <tr>
                    <td class="left">주문자ID</td>
                    <td class="right"><%= @confirm.phone_number %></td>
                </tr>
                <tr>
                    <td class="left">배송지</td>
                    <td class="right"><%= @confirm.address %> <%= @confirm.detail_address %></td>
                </tr>
                <tr>
                    <td class="left">주문자</td>
                    <td class="right"><%= @confirm.customer_name %></td>
                </tr>
                <tr>
                    <td class="left">주문상품</td>
                    <td class="right"><%= @confirm.prod_index %>   /   <%= @confirm.prod_volume %>개</td>
                </tr>
            </table>

            <div class="space">

            </div>

            <table width="80%">
                <tr>
                    <td class="up">주문금액</td>
                    <td class="up">총결제금액</td>
                </tr>
                <tr>
                    <td class="down"><%=@confirm.prod_price%><span class="won">원</span></td>
                    <td class="down">0<span class="won">원</span></td>
                </tr>
            </table>

        </div>



        <div class="clearfix"></div>
    </div>
<!-- /Order Sheet -->

</div>



<!-- Page CSS -->
<style>
body{
    background: url('../img/strawberry/likeddalgi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.box {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.8);
}
{
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
td {
    padding: 15px;
    text-align: center;
}
table {
    border-top: 3px solid;
    border-bottom: 2px solid;
}
.left {
    background: rgba(247,247,247,0.6);
    border-right: 1px solid;
}
.right{
    padding-left: 45px;
}
.space{
    padding: 15px;
}
.up {
    background: rgba(247,247,247,0.6);
    border-bottom: 1px solid;
    font-size: 15px;
}
.down {
    margin-top: 10px;
    border-bottom: 10px;
    font-size: 15px;
}
.won {
    font-size: 1em;
}
</style>
